@use "variables" as *;

/* **************
 * media queries
 * **************/

@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

/* ***********
 * formatting
 * ***********/

@mixin divider($color) {
  border: $color 1px solid;
}

@mixin maintitle {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

@mixin subtitle($color) {
  text-transform: uppercase;
  color: $color;
  font-size: 2.25rem;
}

@mixin btn($color) {
  border: $color 1px solid;
  border-radius: $default-border;
  color: $color;
  background-color: $background;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
  @include tablet {
    min-width: 120px;
    min-height: 50px;
    max-width: 120px;
    max-height: 50px;
    margin-left: 2rem;
  }
  &:hover {
    background-color: $color;
    color: white;
  }
}

@mixin form-field {
  min-height: $form-field-height;
  border: $grey 1px solid;
  background-color: white;
  border-radius: $default-border;
  padding-left: 1rem;
}

@mixin close {
  align-self: flex-end;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@mixin modal($color) {
  @include divider($color);
  position: absolute;
  border-radius: $default-border;
  background-color: $background;
  max-width: $container-max;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
