@use "sass:math";

/* **********
 *  formulas
 * **********/
@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

/* *******
 * colors
 * *******/
$light-green: #6bbb81;
$background: #313131;
$pink: #ffa7e6;
$blue: #87d4ff;
$black: #292929;
$grey: #a3a3a3;
$red: #f94d50;

/* *******
 * layout
 * *******/
$container-max: 960px;
$m-default-padding: 2rem;
$tablet-size: 768px;
$modal-width: 350px;
$default-border: 10px;
$form-field-height: 25px;
$btn-height: 50px;

/* ***********
 * typography
 * ***********/

$m-body-size: toRem(12px);
$dt-body-size: toRem(14px);
$body-weight: 400;
$body-height: toRem(20px);

$subheader-size: 600;
$subheader-weight: 600;

$header-size: toRem(22px);
$header-weight: 600;
$body-height: toRem(28px);
