@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: $font-family;
  background-color: $background;
}
